<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

   <!-- <bean id="dataSource" destroy-method="close"
          class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.8.4:3306/tps1"/>
        <property name="username" value="tps"/>
        <property name="password" value="tps"/>
        <property name="initialSize" value="3"/>
    </bean>-->

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://192.168.8.21:3306/tps1" />
        <property name="user" value="tps" />
        <property name="password" value="tps" />
        <property name="maxPoolSize" value="25" />
        <property name="minPoolSize" value="10" />
        <property name="maxStatements" value="100" />
        <property name="testConnectionOnCheckout" value="true" />
    </bean>
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource" />
    </bean>

    <!--<bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.8.4:3306/tps1"/>
        <property name="username" value="tps"/>
        <property name="password" value="tps"/>
    </bean>-->

    <!-- BEAN -->
    <bean class="igc.tech.com.dao.ClientDetailDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.UserDetailDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.RoleDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.MenuDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.MenuAccessDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.MailServerSettingDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.HotelDetailDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.HotelFeatureDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.TokenDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.HotelActivityDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.RoomTypeDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.BedTypeDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.RoomDetailDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.AmenityDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.RoomAmenityDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.HotelImageDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.RoomImageDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.ExtraBedDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.RulesDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.HotelRulesDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.RoomImportanceDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.CountryDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.RegionDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.AreaDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.NearestAreaDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.NearPlacesDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.PaymentTypeDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.CancellationDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.OfferDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.AddressDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.ActivityDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.EsewaConfigDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.NiblConfigDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.NpayConfigDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.PayGateAccessDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.EmailTpsDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.HotelBookingDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.AgreementDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.AgreementAssignDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.PushContentDataDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.TempContentDataDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.ActivityHighlightDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.AmenityHighlightDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.TagDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.ContentDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.ContentTagDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.ContentCommentDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.HotelReviewCategoryDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.CurrencyDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean class="igc.tech.com.dao.RoomRateDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <!--END BEAN -->

    <tx:annotation-driven transaction-manager="txManager"/>
    <bean id="txManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

<!--
    <bean id="fileModel" class="igc.tech.com.model.FileModel"/>
-->

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>




</beans>
